<h1>New Comment</h1>
<form class="" action="/comments" method="post">
  <%= auth_token %>
<label>Body
  <textarea name="comment[content]"></textarea>
</label>
<input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">
<input type="submit" name="" value="Submit">
</form>
