<h1>Login</h1>

<form class="" action="/session" method="post">
<%= auth_token %>
<label for="">Username
<input type="text" name="user[username]" value="">
</label>
<label for="">Password
<input type="password" name="user[password]" value="">
</label>
<input type="submit" name="" value="Submit">
</form>

<a href="<%= new_user_url %>">Sign up!</a>

